{# project/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
    <h1>Liste des projets</h1>

    {# Lien pour ajouter un projet #}
    <a href="{{ path('add_project') }}" class="btn btn-primary">Ajouter un projet</a>

    <ul>
        {% for project in projects %}
            <li>
                <a href="{{ path('show_project', { 'id': project.id }) }}">
                    {{ project.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
