{# templates/skill/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Compétences{% endblock %}

{% block body %}
    <h1>Liste des Compétences</h1>

    <ul>
        {% for skill in skills %}
            <li>
                <a href="{{ path('skill_detail', { 'code': skill.code }) }}">
                    <strong>{{ skill.code }}:</strong> {{ skill.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('add_skill') }}">Ajouter une compétence</a>
{% endblock %}
